#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #CCCCCC;
}

.left_container,
.right_container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



 
/* Summary.css */

/* Container for the summary component */
.summary-container {
  margin: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Solid white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for better separation */
}

/* Heading style */
.summary-container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styles for the table */
.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #ffffff; /* Solid white background */
}

.summary-table th,
.summary-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.summary-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
}

.summary-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.summary-table tr:hover {
  background-color: #f1f1f1;
}

.summary-table th,
.summary-table td {
  text-align: center;
}

.summary-table th {
  padding: 12px;
  background-color: #2c3e50;
  color: white;
}



